<!DOCTYPE html>
<html>
<head>
<title>代理设置</title>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no" />

<script type="text/javascript"
	src="//cdn.css.net/libs/jquery/2.2.3/jquery.min.js"></script>
<script type="text/javascript" src="${base}/assets/layer/layer.js"></script>
<link rel="stylesheet" href="${base}/assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="${base}/assets/layui/css/layui.css">
<link rel="stylesheet" href="${base}/assets/style/css/style.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row" style="height:30px;"></div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-4 control-label">一级：</label>
						<div class="col-xs-5">
							<input id="key6" class="form-control input-small input-sm"
								type="number" value="${key6!}">
						</div>
						<input id="btn6" class="sub-btn layui-btn layui-btn-small"
							type="button" value="保存">
					</div>
					<div class="form-group">
						<label class="col-xs-4 control-label">二级：</label>
						<div class="col-xs-5">
							<input id="key7" class="form-control input-small input-sm"
								type="number" value="${key7!}">
						</div>
						<input id="btn7" class="sub-btn layui-btn layui-btn-small"
							type="button" value="保存">
					</div>
					<div class="form-group">
						<label class="col-xs-4 control-label">三级：</label>
						<div class="col-xs-5">
							<input id="key8" class="form-control input-small input-sm"
								type="number" value="${key8!}">
						</div>
						<input id="btn8" class="sub-btn layui-btn layui-btn-small"
							type="button" value="保存">
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="height:20px;"></div>
		<div class="row">
			<div class="col-xs-12">
				<table class="layui-table">
					<tr>
						<th>总人数</th>
						<th>已发放</th>
						<th>未发放</th>
					</tr>
					<tr>
						<td>${usernum!}</td>
						<td>${money!}</td>
						<td>${agent!}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row" style="height:10px;"></div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<form class="form" action="grant.do" method="post">
					<input class="layui-btn layui-btn-small" type="submit" value="发放佣金">
				</form>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<a class="btn btn-default" href="adm">比率设置</a>
				</div>
				<div class="btn-group">
					<a class="btn btn-default" href="setrate">倍率设置</a>
				</div>
				<div class="btn-group">
					<a class="btn btn-default" href="setagent">代理设置</a>
				</div>
			</div>
		</nav>
	</div>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			$(".sub-btn").on('click', function() {
				var mkey = $(this).attr("id").substr(3);
				var mvalue = $("#key" + mkey).val();
				$.post("savevalue.do", {
					'mkey' : mkey,
					'mvalue' : mvalue
				}, function(data) {
					layer.open({
						content : '<div>保存成功！</div>',
						time : 2
					});
				});
			});
		});
	</script>
</body>
</html>
