<!DOCTYPE html>
<html>
<head>
<title>比率设置</title>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no" />

<script type="text/javascript"
	src="//cdn.css.net/libs/jquery/2.2.3/jquery.min.js"></script>
<script type="text/javascript"
	src="//cdn.bootcss.com/noUiSlider/9.2.0/nouislider.js"></script>
<link rel="stylesheet"
	href="//cdn.bootcss.com/noUiSlider/9.2.0/nouislider.css">
<link rel="stylesheet" href="${base}/assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="${base}/assets/layui/css/layui.css">
<link rel="stylesheet" href="${base}/assets/style/css/style.css">
<link rel="stylesheet" href="${base}/assets/style/css/lishi.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row daojishi">
			<div class="fl">
				<em id="period">${period!0}</em>期开奖剩余：<span id="time"></span>
			</div>
		</div>
		<div class="row" style="height:40px;"></div>
		<div class="row">
			<div class="col-xs-12">
				<div class="progress nums">
					<i class="ui-logo no1">1</i>
					<div class="progress-bar no1" style="width: 40%">
						<span class="sr-only"> 40% </span>
					</div>
				</div>
				<div class="progress nums">
					<i class="ui-logo no2">2</i>
					<div class="progress-bar no2" style="width: 20%">
						<span class="sr-only"> 20% </span>
					</div>
				</div>
				<div class="progress nums">
					<i class="ui-logo no3">3</i>
					<div class="progress-bar no3" style="width: 60%">
						<span class="sr-only"> 60% </span>
					</div>
				</div>
				<div class="progress nums">
					<i class="ui-logo no4">4</i>
					<div class="progress-bar no4" style="width: 80%">
						<span class="sr-only"> 80% </span>
					</div>
				</div>
				<div class="progress nums">
					<i class="ui-logo no5">5</i>
					<div class="progress-bar no5" style="width: 40%">
						<span class="sr-only"> 40% </span>
					</div>
				</div>
				<div class="progress nums">
					<i class="ui-logo no6">6</i>
					<div class="progress-bar no6" style="width: 20%">
						<span class="sr-only"> 20% </span>
					</div>
				</div>
				<div class="progress nums">
					<i class="ui-logo no7">7</i>
					<div class="progress-bar no7" style="width: 60%">
						<span class="sr-only"> 60% </span>
					</div>
				</div>
				<div class="progress nums">
					<i class="ui-logo no8">8</i>
					<div class="progress-bar no8" style="width: 80%">
						<span class="sr-only"> 80% </span>
					</div>
				</div>
				<div class="progress nums">
					<i class="ui-logo no9">9</i>
					<div class="progress-bar no9" style="width: 60%">
						<span class="sr-only"> 60% </span>
					</div>
				</div>
				<div class="progress nums">
					<i class="ui-logo no10">10</i>
					<div class="progress-bar no10" style="width: 80%">
						<span class="sr-only"> 80% </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="height:20px;"></div>
		<div>
			<div class="col-xs-offset-2 col-xs-10" style="text-align: center;">
				<div><label id="sliderValue"></label>%</div>
			</div>
		</div>
		<div>
			<label class="col-xs-2 control-label" style="padding-left:0px;">比&nbsp;&nbsp;率：</label>
			<div class="col-xs-10" style="padding-top:8px;">
				<div class="noUi-control noUi-success" id="slider_0"></div>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<a class="btn btn-default" href="adm">比率设置</a>
				</div>
				<div class="btn-group">
					<a class="btn btn-default" href="setrate">倍率设置</a>
				</div>
				<div class="btn-group">
					<a class="btn btn-default" href="setagent">代理设置</a>
				</div>
			</div>
		</nav>
	</div>
	<script type="text/javascript">
		jQuery(document).ready(function() {

			var slider = document.getElementById('slider_0');
			var sliderValue = document.getElementById('sliderValue');

			noUiSlider.create(slider, {
				start : ${key9!0},
				connect : true,
				step : 20,
				range : {
					'min' : 0,
					'max' : 100
				}
			});
			
			slider.noUiSlider.on('update', function( values, handle ){
				var mvalue = Number(values[handle]);
				$.post("savevalue.do", {
					'mkey' : 9,
					'mvalue' : mvalue
				}, function(data) {
					sliderValue.innerHTML = mvalue;
				});
			});
			
			showCountDown(${afterTime!0}, ${period!0});
			
			var loadAwardTimesTimer, ctimeOfPeriod = -1;
		    var cpCurrAwardData = null;
		    var cpNextAwardTimeInterval = -1;
		    function loadAwardTimes() {
		        $.getJSON('getAwardTimes.do', {uid:1,t:Math.random()}, function (data) {
		            //请求到数据后需要做的事情
		            cpCurrAwardData = data;
		            //期数不同，则开始封盘倒计时
		            if (data.current.periodNumber != cpNumber) {
		                cpNextAwardTimeInterval = data.next.awardTimeInterval;
		                if (countDownTimer) {
		                    window.clearInterval(countDownTimer);
		                }
		                countDownTimer = window.setInterval(function () {
		                    cpNextAwardTimeInterval = Math.max(0, cpNextAwardTimeInterval - 1000);
		                    showCountDown(cpNextAwardTimeInterval, data.next.periodNumber);
		                }, 1000);
		            }
		            cpNumber = data.current.periodNumber;
		            if (ctimeOfPeriod == -1) {//判断第一次加载
		                ctimeOfPeriod = data.current.periodNumber;
		            }
		            $(".daojishi #period").html(data.next.periodNumber);
		            loadAwardTimesTimer = window.setTimeout(loadAwardTimes, data.next.awardTimeInterval < 10 ? 10000 : data.next.awardTimeInterval + 1000);
		        });
		    }
		    //每10秒刷新开奖时间数据
		    loadAwardTimesTimer = window.setTimeout(loadAwardTimes, 1000);
		});
		
		var warnTime = "",
		warnCount = 6,
		tempCount = 0,
		cpNumber = -1,
		countDownTimer = null;
		function showCountDown(afterTime, period) {
		    timeold = afterTime;
		
		    sectimeold = timeold / 1000;
		    secondsold = Math.floor(sectimeold);
		
		    msPerDay = 24 * 60 * 60 * 1000
		    e_daysold = timeold / msPerDay
		    daysold = Math.floor(e_daysold);
		    e_hrsold = (e_daysold - daysold) * 24;
		    hrsold = Math.floor(e_hrsold);
		    e_minsold = (e_hrsold - hrsold) * 60;
		    minsold = Math.floor((e_hrsold - hrsold) * 60);
		    seconds = Math.floor((e_minsold - minsold) * 60);
		    if (daysold < 0) {
		        daysold = 0;
		        hrsold = 0;
		        minsold = 0;
		        seconds = 0;
		    }
		    if (seconds == 0 && minsold == 0 && hrsold == 0) {
		        $(".roadmap-table tr").find("td[class]:last").find("p:last,label:last,span:last").css("font-weight", "normal");
		        window.clearInterval(countDownTimer);
		    }
		    var hh = parseInt(minsold) + parseInt(hrsold * 60);
			if (hh < 1) {
		    	$(".sub-btn").addClass("layui-btn-disabled");
		    	$(".sub-btn").attr("disabled","disabled");
		    }else{
		    	$(".sub-btn").removeClass("layui-btn-disabled");
				$(".sub-btn").removeAttr("disabled");
		    }
			if (hh < 10) {
				hh = "0" + hh;
			}
			if (seconds < 10) {
				seconds = "0" + seconds;
			}
			$(".daojishi #time").html(hh+'分'+seconds+'秒');
		    if (cpNumber == -1 && cpNumber != period) {
		        cpNumber = period;
		    }
		}
	</script>
</body>
</html>
