<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hello.zhifu.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.hello.zhifu.model.UserInfo">
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="agent" property="agent"	jdbcType="DOUBLE" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from userinfo where userid = #{userid,jdbcType=INTEGER}
  </select>
  <select id="selectByOpendId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from userinfo where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.hello.zhifu.model.UserInfo" useGeneratedKeys="true" keyProperty="userid">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="agent != null" >
        agent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="agent != null" >
        #{agent,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.hello.zhifu.model.UserInfo" >
    update userinfo
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="agent != null" >
        agent = #{agent,jdbcType=DOUBLE},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>