<!DOCTYPE html>
<html>
<head>
<title>北京赛车推广二维码</title>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no" />

<script type="text/javascript"
	src="//cdn.css.net/libs/jquery/2.2.3/jquery.min.js"></script>
<link rel="stylesheet" href="${base}/assets/layui/css/layui.css">
<link rel="stylesheet" href="${base}/assets/style/css/style.css">
</head>

<body>
	<div style="text-align:center;">
		<img
			src="http://pan.baidu.com/share/qrcode?w=250&h=250&url=http://app.ittun.com${base}/touzhu?p=${user.userid!0}">
	</div>
	<div class="footer-nav">
		<ul class="layui-nav">
			<li class="layui-nav-item"><a href="touzhu">首页</a></li>
			<li class="layui-nav-item"><a href="zhibo">直播</a></li>
			<li class="layui-nav-item"><a href="lishi">往期</a></li>
			<li class="layui-nav-item layui-this"><a href="javascript:;">代理</a></li>
			<li class="layui-nav-item"><a href="geren">我的</a></li>
		</ul>
	</div>
</body>
</html>
