<!DOCTYPE html>
<html>
<head>
<title>北京赛车推广二维码</title>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no" />

<script type="text/javascript"
	src="//cdn.css.net/libs/jquery/2.2.3/jquery.min.js"></script>
<link rel="stylesheet" href="${base}/assets/layui/css/layui.css">
<link rel="stylesheet" href="${base}/assets/style/css/style.css">
</head>

<body>
	<div>
		<img src="${base}/assets/style/images/timg.jpg"
			style="position:absolute;top:0;left:0;height:100%;width:100%;display:block;"> 
		<img src="http://pan.baidu.com/share/qrcode?w=200&h=200&url=${domain!}/touzhu?pid=${userid!0}"
			style="position:relative;padding-top:65%;padding-left:25%;width:50%;">
		<p>ID:${userid!}</p>
	</div>
	<div class="footer-nav">
		<ul class="layui-nav">
			<li class="layui-nav-item"><a href="touzhu?pid=${userid!0}">首页</a></li>
			<li class="layui-nav-item"><a href="zhibo">直播</a></li>
			<li class="layui-nav-item"><a href="lishi">往期</a></li>
			<li class="layui-nav-item layui-this"><a href="javascript:;">代理</a></li>
			<li class="layui-nav-item"><a href="geren">我的</a></li>
		</ul>
	</div>
</body>
</html>
