<!DOCTYPE html>
<html>
<head>
<title>北京赛车视频直播</title>
<meta charset="utf-8">
<script type="text/javascript"
	src="//cdn.css.net/libs/jquery/2.2.3/jquery.min.js"></script>
<script type="text/javascript" src="${base}/assets/cocos2d.js"></script>
<link rel="stylesheet" href="${base}/assets/layui/css/layui.css">
<style type="text/css">
/*菜单*/
.footer-nav{position:fixed;width:100%;bottom:0;}
.layui-nav{height:110px;}
.layui-nav .layui-nav-item{line-height:110px;padding:0 5%;}
.layui-nav-item a{font-size:270%;}
.layui-nav .layui-this:after{height:15px;}
</style>
</head>
<body>
	<div style="text-align: center; font-size: 0">
		<canvas id="gameCanvas" width="980" height="640"></canvas>
	</div>
	<div style="padding-top:3%">
		<p style="font-size:400%;padding:3% 0;text-align:center;font-weight:500;">游戏规则</p>
		<p style="font-size:300%;margin:0 3%;text-indent:2em;line-height:90px;">
		本娱乐平台每3分钟开奖一次。2分钟后停止下注，第3分钟开奖。
		<#if key1!=0>第一名：${key1!}倍。</#if>
		<#if key2!=0>第二名：${key2!}倍。</#if>
		<#if key3!=0>第三名：${key3!}倍。</#if>
		<#if key4!=0>第四名：${key4!}倍。</#if>
		<#if key5!=0>第五名：${key5!}倍。</#if>
		</p>
		<p style="font-size:500%;padding:5% 0;text-align:center;font-weight:500;">
		客服QQ：<label style="color:red;">2246993021</label></p>
	</div>
	<div class="footer-nav">
		<ul class="layui-nav">
			<li class="layui-nav-item"><a href="${rukou}?url=${domain}/touzhu">首页</a></li>
			<li class="layui-nav-item layui-this"><a href="javascript:;">直播</a></li>
			<li class="layui-nav-item"><a href="${rukou}?url=${domain}/lishi">往期</a></li>
			<li class="layui-nav-item"><a href="${rukou}?url=${domain}/erweima">代理</a></li>
			<li class="layui-nav-item"><a href="${rukou}?url=${domain}/geren">我的</a></li>
		</ul>
	</div>
</body>
</html>